[submodule "tsb-space"]
	path = tsb-space
	url = git@github.com:aiplan4eu/tsb-space.git
[submodule "up-graphene-engine"]
	path = up-graphene-engine
	url = git@github.com:aiplan4eu/up-graphene-engine.git
