[submodule "up-grafene-engine"]
	path = up-grafene-engine
	url = git@github.com:aiplan4eu/up-grafene-engine.git
[submodule "tsb-space"]
	path = tsb-space
	url = git@github.com:aiplan4eu/tsb-space.git
